.add-listing-form {
  display: flex;
  justify-content: center;
  color: #484848;
  font-family: pretty-font;
}

.alf-first-half {
  display: flex;
  justify-content: flex-end;
  width: 58%;
}

.alf-col-first {
  margin-top: 65px;
  width: 470px;
  min-width: 470px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.alf-form {
  width: 470px;
  min-width: 470px;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  border-bottom: 1px solid #DCE0E0;
}

.alf-field-title {
  font-size: 24px;
  margin-bottom: 20px;
}

.alf-input-row {
  display: flex;
}

.alf-text-full {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border: 1px solid #DCE0E0;
  width: 430px;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: 97% 50%;
  margin-bottom: 40px;
  -webkit-transition: border .3s;
  transition: border .3s;
  resize: none;
}

.alf-title-counter {
  color: #767676;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  padding-left: 450px;
  padding-top: 7px;
}

.alf-description-counter {
  color: #767676;
  font-size: 12px;
  font-weight: bold;
  position: absolute;
  padding-left: 440px;
  padding-top: 7px;
}

.alf-low {
  color: #B34143;
}

.alf-text-full:focus {
  border: 1px solid #484848;
}

.alf-upload {
  display: flex;
  width: 185px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: #00A699;
  color: white;
  border-radius: 5px;
}

.alf-file-image {
  max-width: 300px;
  height: auto;
}

.alf-file-name {
  padding-top: 5px;
  padding-bottom: 5px;
}

.alf-upload:hover{
  background-color: #01ccbc
}

.alf-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 30px;
}

.alf-errors {
  padding-bottom: 10px;
}

.alf-error {
  color: #B34143;
  font-size: 16px;
}

.alf-back {
  color: #484848;
}

.alf-back:hover {
  color: #6c6c6c;
}

.alf-header-over {
  margin-bottom: 10px;
}

.alf-next {
  display: flex;
  width: 185px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: #FF5A5F;
  color: white;
  border-radius: 4px;
}

.alf-next:hover {
  background-color: #FF7E82
}

.alf-next-dead {
  display: flex;
  width: 185px;
  height: 42px;
  justify-content: center;
  align-items: center;
  background-color: #FFD2D3;
  color: white;
  border-radius: 4px;
}

.alf-second-half {
  display: flex;
  justify-content: flex-start;
  width: 45%;
  background-color: #FAFAFA;
}

.alf-col-second {
  width: 330px;
  min-width: 330px;
  height: 100%;
}
